doctype html
html
    head
        script(src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.js" crossorigin="anonymous")
        title #{siteName} | #{pageTitle}
    body
        header
            include ../partials/header
        main
            block content
        include ../partials/footer