.videoBlock {
    video {
        margin-bottom: 10px;
        width: 100%;
    }

    .videoBlock__title {
        font-size: 1rem;
        font-weight: 300;
        margin-bottom: 1rem;
        color: $colorWhite;
    }

    .videoBlock__views {
        color: rgba(255, 255, 255, 0.5);
        font-size: 0.8rem
    }
}