$colorBg: #212529;
$colorLayer:#272B2F;
$colorRed: #ED4639;
$colorSaffron: #F8BB32;
$colorWhite: #ffffff;
$colorGrey: #aaaaaa;
$colorBlack: #000000;
$colorGithub:#4078c0;
$colorFacebook:#3b5998;
$colorTwitter:#1DA1F2